# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
.idea/


#Ignore virtual environments
bomberman_env

.github/.DS_Store
.DS_Store
src/ppo_bomberman_map_1_2023-06-30_19-41-31_Best/best_model.zip
src/ppo_bomberman_map_1_2023-06-30_19-41-31_Best/monitor.csv
src/ppo_bomberman_map_3_2023-06-30_12-13-17_Best/best_model.zip
src/ppo_bomberman_map_3_2023-06-30_12-13-17_Best/monitor.csv
src/ppo_bomberman_map_3_2023-06-30_13-40-16_Best/best_model.zip
src/ppo_bomberman_map_3_2023-06-30_13-40-16_Best/monitor.csv
src/ppo_bomberman_map_3_2023-06-30_13-40-16_Best_1/best_model.zip
src/ppo_bomberman_map_3_2023-06-30_13-40-16_Best_1/monitor.csv
src/ppo_bomberman_map_3_2023-06-30_14-31-20_Best/best_model.zip
src/ppo_bomberman_map_3_2023-06-30_14-31-20_Best/monitor.csv
src/ppo_bomberman_map_3_2023-06-30_15-22-43_Best/best_model.zip
src/ppo_bomberman_map_3_2023-06-30_15-22-43_Best/monitor.csv
src/ppo_bomberman_map_3_2023-06-30_15-22-43_Best_1/best_model.zip
src/ppo_bomberman_map_3_2023-06-30_15-22-43_Best_1/monitor.csv
src/ppo_bomberman_map_3_2023-07-03_23-21-41_Best/best_model.zip
src/ppo_bomberman_map_3_2023-07-03_23-21-41_Best/monitor.csv
src/ppo_bomberman_map_3_2023-07-19_21-49-13_Best/best_model.zip
src/ppo_bomberman_map_3_2023-07-19_21-49-13_Best/monitor.csv
src/ppo_bomberman_map_3_2023-07-21_22-48-27_Best/best_model.zip
src/ppo_bomberman_map_3_2023-07-21_22-48-27_Best/monitor.csv
src/ppo_bomberman_map_3_2023-07-22_15-16-48_Best/best_model.zip
src/ppo_bomberman_map_3_2023-07-22_15-16-48_Best/monitor.csv
src/ppo_bomberman_map_3_2023-07-25_22-46-48_Best/best_model.zip
src/ppo_bomberman_map_3_2023-07-25_22-46-48_Best/monitor.csv
src/ppo_bomberman_map_3_2023-07-25_23-13-12_Best/best_model.zip
src/ppo_bomberman_map_3_2023-07-25_23-13-12_Best/monitor.csv
src/ppo_bomberman_map_3_2023-07-25_23-27-58_Best/best_model.zip
src/ppo_bomberman_map_3_2023-07-25_23-27-58_Best/monitor.csv
src/ppo_bomberman_map_3_2023-07-26_17-40-24_Best/best_model.zip
src/ppo_bomberman_map_3_2023-07-26_17-40-24_Best/monitor.csv
src/ppo_bomberman_map_3_2023-07-26_18-08-09_Best/best_model.zip
src/ppo_bomberman_map_3_2023-07-26_18-08-09_Best/monitor.csv
src/ppo_bomberman_map_3_2023-07-26_18-08-09_Best_1/best_model.zip
src/ppo_bomberman_map_3_2023-07-26_18-08-09_Best_1/monitor.csv
src/ppo_bomberman_map_3_2023-07-26_18-08-09_Best_2/best_model.zip
src/ppo_bomberman_map_3_2023-07-26_18-08-09_Best_2/monitor.csv
src/ppo_bomberman_map_3_2023-07-26_18-08-09_Best_3/best_model.zip
src/ppo_bomberman_map_3_2023-07-26_18-08-09_Best_3/monitor.csv
src/ppo_bomberman_map_3_2023-07-26_18-08-09_Best_4/best_model.zip
src/ppo_bomberman_map_3_2023-07-26_18-08-09_Best_4/monitor.csv
src/ppo_bomberman_map_3_2023-07-26_18-08-09_Best_5/best_model.zip
src/ppo_bomberman_map_3_2023-07-26_18-08-09_Best_5/monitor.csv
training/bbm.py
training/ppo_tensorboard/PPO_1/events.out.tfevents.1688125217.Juhyuns-MacBook-Pro.local.53822.0
training/ppo_tensorboard/PPO_10/events.out.tfevents.1688131363.Juhyuns-MacBook-Pro.local.55543.0
training/ppo_tensorboard/PPO_11/events.out.tfevents.1688131883.Juhyuns-MacBook-Pro.local.55722.0
training/ppo_tensorboard/PPO_12/events.out.tfevents.1688132766.Juhyuns-MacBook-Pro.local.56011.0
training/ppo_tensorboard/PPO_14/events.out.tfevents.1688135498.Juhyuns-MacBook-Pro.local.56469.0
training/ppo_tensorboard/PPO_15/events.out.tfevents.1688135952.Juhyuns-MacBook-Pro.local.56594.0
training/ppo_tensorboard/PPO_16/events.out.tfevents.1688136104.Juhyuns-MacBook-Pro.local.56657.0
training/ppo_tensorboard/PPO_17/events.out.tfevents.1688136593.Juhyuns-MacBook-Pro.local.56774.0
training/ppo_tensorboard/PPO_18/events.out.tfevents.1688137226.Juhyuns-MacBook-Pro.local.56940.0
training/ppo_tensorboard/PPO_19/events.out.tfevents.1688137252.Juhyuns-MacBook-Pro.local.56971.0
training/ppo_tensorboard/PPO_2/events.out.tfevents.1688125995.Juhyuns-MacBook-Pro.local.54014.0
training/ppo_tensorboard/PPO_20/events.out.tfevents.1688137922.Juhyuns-MacBook-Pro.local.57081.0
training/ppo_tensorboard/PPO_21/events.out.tfevents.1688138813.Juhyuns-MacBook-Pro.local.57402.0
training/ppo_tensorboard/PPO_22/events.out.tfevents.1688139408.Juhyuns-MacBook-Pro.local.57514.0
training/ppo_tensorboard/PPO_23/events.out.tfevents.1688139967.Juhyuns-MacBook-Pro.local.57641.0
training/ppo_tensorboard/PPO_24/events.out.tfevents.1688140264.Juhyuns-MacBook-Pro.local.57744.0
training/ppo_tensorboard/PPO_25/events.out.tfevents.1688143812.Juhyuns-MacBook-Pro.local.57960.0
training/ppo_tensorboard/PPO_26/events.out.tfevents.1688144600.Juhyuns-MacBook-Pro.local.58082.0
training/ppo_tensorboard/PPO_27/events.out.tfevents.1688145408.Juhyuns-MacBook-Pro.local.58225.0
training/ppo_tensorboard/PPO_28/events.out.tfevents.1688146891.Juhyuns-MacBook-Pro.local.58574.0
training/ppo_tensorboard/PPO_29/events.out.tfevents.1688149601.Juhyuns-MacBook-Pro.local.58837.0
training/ppo_tensorboard/PPO_3/events.out.tfevents.1688126562.Juhyuns-MacBook-Pro.local.54146.0
training/ppo_tensorboard/PPO_30/events.out.tfevents.1688151000.Juhyuns-MacBook-Pro.local.59102.0
training/ppo_tensorboard/PPO_31/events.out.tfevents.1688151472.Juhyuns-MacBook-Pro.local.59212.0
training/ppo_tensorboard/PPO_32/events.out.tfevents.1688151928.Juhyuns-MacBook-Pro.local.59321.0
training/ppo_tensorboard/PPO_33/events.out.tfevents.1688412795.Juhyuns-MacBook-Pro.local.68031.0
training/ppo_tensorboard/PPO_34/events.out.tfevents.1688413662.Juhyuns-MacBook-Pro.local.68212.0
training/ppo_tensorboard/PPO_35/events.out.tfevents.1688414239.Juhyuns-MacBook-Pro.local.68342.0
training/ppo_tensorboard/PPO_36/events.out.tfevents.1688416479.Juhyuns-MacBook-Pro.local.68560.0
training/ppo_tensorboard/PPO_37/events.out.tfevents.1688417549.Juhyuns-MacBook-Pro.local.68712.0
training/ppo_tensorboard/PPO_38/events.out.tfevents.1688417662.Juhyuns-MacBook-Pro.local.68813.0
training/ppo_tensorboard/PPO_39/events.out.tfevents.1688417697.Juhyuns-MacBook-Pro.local.68850.0
training/ppo_tensorboard/PPO_4/events.out.tfevents.1688127133.Juhyuns-MacBook-Pro.local.54359.0
training/ppo_tensorboard/PPO_40/events.out.tfevents.1688419302.Juhyuns-MacBook-Pro.local.69202.0
training/ppo_tensorboard/PPO_41/events.out.tfevents.1689796154.edr12337.dip.tu-dresden.de.88324.0
training/ppo_tensorboard/PPO_42/events.out.tfevents.1689972507.Juhyuns-MacBook-Pro.local.96050.0
training/ppo_tensorboard/PPO_43/events.out.tfevents.1689973498.Juhyuns-MacBook-Pro.local.96261.0
training/ppo_tensorboard/PPO_44/events.out.tfevents.1689974870.Juhyuns-MacBook-Pro.local.96454.0
training/ppo_tensorboard/PPO_45/events.out.tfevents.1690031808.Juhyuns-MacBook-Pro.local.98761.0
training/ppo_tensorboard/PPO_46/events.out.tfevents.1690318009.Juhyuns-MacBook-Pro.local.7298.0
training/ppo_tensorboard/PPO_47/events.out.tfevents.1690319593.Juhyuns-MacBook-Pro.local.7557.0
training/ppo_tensorboard/PPO_48/events.out.tfevents.1690320478.Juhyuns-MacBook-Pro.local.7775.0
training/ppo_tensorboard/PPO_49/events.out.tfevents.1690386025.edr07243.dip.tu-dresden.de.11386.0
training/ppo_tensorboard/PPO_5/events.out.tfevents.1688127699.Juhyuns-MacBook-Pro.local.54483.0
training/ppo_tensorboard/PPO_50/events.out.tfevents.1690387689.edr07243.dip.tu-dresden.de.11650.0
training/ppo_tensorboard/PPO_51/events.out.tfevents.1690389896.edr07243.dip.tu-dresden.de.12054.0
training/ppo_tensorboard/PPO_52/events.out.tfevents.1690390743.edr07243.dip.tu-dresden.de.12241.0
training/ppo_tensorboard/PPO_53/events.out.tfevents.1690391731.edr07243.dip.tu-dresden.de.12489.0
training/ppo_tensorboard/PPO_54/events.out.tfevents.1690399579.edr07243.dip.tu-dresden.de.12795.0
training/ppo_tensorboard/PPO_55/events.out.tfevents.1690400417.edr07243.dip.tu-dresden.de.13048.0
training/ppo_tensorboard/PPO_56/events.out.tfevents.1690401254.edr07243.dip.tu-dresden.de.13263.0
training/ppo_tensorboard/PPO_57/events.out.tfevents.1690402276.edr07243.dip.tu-dresden.de.13507.0
training/ppo_tensorboard/PPO_58/events.out.tfevents.1690403373.edr07243.dip.tu-dresden.de.13835.0
training/ppo_tensorboard/PPO_59/events.out.tfevents.1690404986.edr07243.dip.tu-dresden.de.14196.0
training/ppo_tensorboard/PPO_6/events.out.tfevents.1688128281.Juhyuns-MacBook-Pro.local.54668.0
training/ppo_tensorboard/PPO_60/events.out.tfevents.1690406897.edr07243.dip.tu-dresden.de.14631.0
training/ppo_tensorboard/PPO_61/events.out.tfevents.1690408954.Juhyuns-MacBook-Pro.local.15047.0
training/ppo_tensorboard/PPO_62/events.out.tfevents.1690411540.Juhyuns-MacBook-Pro.local.15476.0
training/ppo_tensorboard/PPO_63/events.out.tfevents.1690412703.Juhyuns-MacBook-Pro.local.15751.0
training/ppo_tensorboard/PPO_64/events.out.tfevents.1690413779.Juhyuns-MacBook-Pro.local.15951.0
training/ppo_tensorboard/PPO_65/events.out.tfevents.1690414818.Juhyuns-MacBook-Pro.local.16159.0
training/ppo_tensorboard/PPO_66/events.out.tfevents.1690417929.Juhyuns-MacBook-Pro.local.16771.0
training/ppo_tensorboard/PPO_67/events.out.tfevents.1690420834.Juhyuns-MacBook-Pro.local.17379.0
training/ppo_tensorboard/PPO_68/events.out.tfevents.1690423287.Juhyuns-MacBook-Pro.local.17959.0
training/ppo_tensorboard/PPO_7/events.out.tfevents.1688129176.Juhyuns-MacBook-Pro.local.54978.0
training/ppo_tensorboard/PPO_8/events.out.tfevents.1688129725.Juhyuns-MacBook-Pro.local.55108.0
training/ppo_tensorboard/PPO_9/events.out.tfevents.1688130402.Juhyuns-MacBook-Pro.local.55260.0
src/ppo_bomberman_map_3_2023-06-29_21-48-08.zip
src/ppo_bomberman_map_3_2023-06-29_21-57-58.zip
src/ppo_bomberman_map_3_2023-06-29_23-03-00.zip
src/ppo_bomberman_map_3_2023-06-30_00-24-01.zip
src/ppo_bomberman_map_3_2023-06-30_12-13-17.zip
